[user]
	name = malijah
	email = 41331314+Malijah-C@users.noreply.github.com
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore_global
	pager = less
	editor = vim
[push]
	default = current
